<a href="https://colab.research.google.com/github/hannah416/midterm24/blob/main/202358008_fromMK316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üåÄMidterm 2024: Hannah Jang (202358008)

üòç Check my comments below (3AM, 0501)

## Variable Question

# Mary 1998 Ohio and John 1999 Boston

In [1]:
name = input("Name:Mary,John"); born in = input('born_in:1998,1999'); hometown = input('hometown:Ohio,Boston')


print(f"Hello, my name is {name}. I was born in {born_in} and I'm from {hometown}. Nice to meet you!")

SyntaxError: invalid syntax (<ipython-input-1-9448297ff47b>, line 1)

### üòç To fix the error, see the code below

In [2]:
name = input("Name:"); born_in = input('born_in:'); hometown = input('hometown:')

print(f"Hello, my name is {name}. I was born in {born_in} and I'm from {hometown}. Nice to meet you!")

Name:Mary
born_in:1998
hometown:Ohio
Hello, my name is Mary. I was born in 1998 and I'm from Ohio. Nice to meet you!

## Index Question (üòç Goog job!)

# Dropdown

In [3]:
cardinal_number = "2" #@param = ["1","2","3","4"]

cardinal_number = int(cardinal_number) - 1

words = ["First", "Second", "Third", "Fourth"]


print("The ordinal expression:", words[cardinal_number])

The ordinal expression: Second

## Name Question (üòç It works!)

# Name Question <= üòçDo we need this?

In [4]:
x = "My name is"
y = "Hannah"

print(f"{x} {y}.")

My name is Hannah.

üòç Let's use input function to get any name including yours. See the code below

In [6]:
x = "My name is"
y = input()           #"Hannah"

print(f"{x} {y}.")

Mary
My name is Mary.

## Dictionary Question (üòçGoog work! The minor problem is in the empty space before the last code print().)

In [7]:
grades = {
    "Hannah": 99,
    "Han": 98,
    "Bob": 80
    }
    print(grades["Bob"])

IndentationError: unexpected indent (<ipython-input-7-569e0e81d51e>, line 6)

üòç To fix this error:

In [8]:
grades = {
    "Hannah": 99,
    "Han": 98,
    "Bob": 80
    }
print(grades["Bob"])

80

##Function Question (üòç The function is partially defined)

In [9]:
def divide_numbers(num1, num2):
result = divide_numbers(20, 4)
print(result)

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-9-516bf2d8249f>, line 2)

üòç Check how we can fix the problem above

In [10]:
def divide_numbers(num1, num2):
  return num1/num2
result = divide_numbers(20, 4)
print(result)

5.0

---
The End (üòç I hope you practice the rest :-)