<a href="https://colab.research.google.com/github/hannah416/midterm24/blob/main/202358008.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸŒ€Midterm 2024: Hannah Jang (202358008)

## Variable Question

# Mary 1998 Ohio and John 1999 Boston

In [ ]:
name = input("Name:Mary,John"); born in = input('born_in:1998,1999'); hometown = input('hometown:Ohio,Boston')


print(f"Hello, my name is {name}. I was born in {born_in} and I'm from {hometown}. Nice to meet you!")

## Index Question

# Dropdown

In [ ]:
cardinal_number = "2" #@param = ["1","2","3","4"]

cardinal_number = int(cardinal_number) - 1

words = ["First", "Second", "Third", "Fourth"]


print("The ordinal expression:", words[cardinal_number])

## Name Question

# Name Question

In [ ]:
x = "My name is"
y = "Hannah"

print(f"{x} {y}.")

## Dictionary Question

In [ ]:
grades = {
    "Hannah": 99,
    "Han": 98,
    "Bob": 80
    }
    print(grades["Bob"])

##Function Question

In [ ]:
def divide_numbers(num1, num2):
result = divide_numbers(20, 4)
print(result)